<div class="jp-home">
  <div class="jp-home__background">
    <img src="assets/images/Background/bg_layer1.png" alt="Background" />
    <img src="assets/images/Background/bg_layer2.png" alt="Background" />
    <img src="assets/images/Background/bg_layer3.png" alt="Background" />
    <img src="assets/images/Background/bg_layer4.png" alt="Background" />
    <div class="jp-home__title">
      <img
        src="assets/images/Players/bunny1_jump.png"
        alt="Character"
        height="48"
      />
      <span>KUNEHO JUMP</span>
    </div>
    <div class="jp-home__btn-container">
      <div (click)="play()" class="jp-home__btn">START</div>
      <div (click)="highScore()" class="jp-home__btn">HIGH SCORE</div>
      <div (click)="about()" class="jp-home__btn">ABOUT</div>
    </div>
  </div>
  <div class="jp-home__container"></div>
</div>
